<%- include('header'); %>
<style>
    html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    ul {
        padding-left: 12px;
        padding-right: 12px;
    }
    li {
        padding-bottom: 4px;
    }
    .store-content {
      flex: 1 0 auto;
      padding: 20px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
      align-items: stretch;
    }
    .grid > article {
      border: 1px solid #ccc;
      padding: 8px;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .text {
      padding: 0 20px 20px;
    }
    .text > button {
      background: gray;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }
    .pt-12 {
        padding-top: 12px;
    }
    .primary {
        color: #faa541;
    }

  </style>

<div class="store-content">
    <h1>Orders</h1>

    <main class="grid">    
        <% orders.forEach(order => { %>
            <article>
                <div class="space-between">
                    <div>Order #: <%= order.id %></div>
                    <h3 class="primary"><%= order.status %></h3>
                </div>
                <h4 class="pt-12">Shipping Address</h4>
                <div><%= order.address.street %></div>
                <div><%= order.address.city + ", " + order.address.state + " " + order.address.zipCode %></div>
                <h3 class="pt-12">Items</h3>
                <ul>
                    <% order.items.forEach(item => { %>
                        <li class="space-between">
                            <h4><%= item.description %></h4>
                            <span class=><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(item.cost) %></span>
                        </li>
                    <% }); %>
                </ul>
            </article>
        <% }); %>
    </main>
</div>

<%- include('footer'); %>